@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
html body {
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

html body div.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body div.main-container nav.navigation {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.37);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.37);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body div.main-container nav.navigation div.left-nav {
  padding-right: 20px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body div.main-container nav.navigation div.left-nav ul.navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body div.main-container nav.navigation div.left-nav ul.navigation-menu li {
  list-style: none;
  margin: 10px;
}

html body div.main-container nav.navigation div.left-nav ul.navigation-menu li a {
  text-decoration: none;
  color: black;
}

html body div.main-container nav.navigation div.left-nav ul.navigation-menu li a:hover {
  text-decoration: underline;
}

html body div.main-container nav.navigation div.right-nav select {
  border: none;
  font-family: 'Inter', sans-serif;
}

html body div.main-container div.container {
  margin-top: 30px;
  width: 90%;
  height: 800px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body div.main-container div.container .container-sidebar {
  width: 15%;
  z-index: 1;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.37);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.37);
}

html body div.main-container div.container .container-sidebar ul li {
  list-style: none;
  margin: 10px;
}

html body div.main-container div.container .container-sidebar ul li a {
  text-decoration: none;
  color: black;
}

html body div.main-container div.container .container-sidebar ul li a:hover {
  text-decoration: underline;
}

html body div.main-container div.container .container-panel {
  width: 90%;
  overflow: auto;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.37);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.37);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body div.main-container div.container .container-panel .card {
  height: 300px;
  width: 200px;
  margin: 10px;
}

html body div.main-container div.container .container-panel .card .imgs {
  height: 300px;
  width: auto;
}

html body div.main-container div.container .container-panel .card .tag-name {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body div.main-container div.container .container-panel .card .tag-name .ratings > * {
  font-size: 13px;
}

html body div.main-container div.container .container-panel .card .tag-name .ratings .checked {
  color: orange;
}

html body div.main-container footer {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */