html {
    body {
        main {
            .c-wrapper {
                padding: 10px;
              display: flex;
              justify-content: center;

                div.card {
                    img {
                        height: 400px;
                    }

                    div.card-body {
                        display: flex;
                        flex-direction: column;

                        div.card-text {
                            span.source {
                                font-size: 12px;
                                font-style: italic;
                            }

                            padding-bottom: 10px;
                        }
                    }
                }
            }

        }
    }
}